
/* MIX */

.container--large {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container--flex {
  display: flex;
}

.container--flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

.box--flex {
  display: flex;
  flex-wrap: wrap;
}

.bg--secondary {
  background-color: #F3F5F9;
}

/* Fix classes */
.spacing_fix {
  font-size: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/* TYPO */
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--lg-color {
  color: #6E7993;
}

.text--size-normal {
  font-size: 16px;
}

/* Arrow link */
.arrow_link,
.arrow_link:focus,
.arrow_link:hover,
.arrow_link:visited  {
  color: #006AFF;
}

.arrow_link::after {
  content: "\003E";
  margin-left: 8px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .container--large {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container--large {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container--large {
    width: 100%;
  }
}

/* Sponsors */
.sponsors {
  padding: 30px 0;
}

.sponsors_box {
  flex-basis: 100%;
}

.sponsors_box--flex {
  justify-content: space-evenly;
  flex-direction: row;
  min-height: 156.02px;
}

.sponsors_img {
  flex-basis: calc(100% / 6 - 30px);
  height: auto;
}
/* Responsive */
@media screen and (max-width: 991px) {
  .sponsors_img {
    min-width: 0;
    flex-basis: calc(100% / 6 - 15px);
  }
}

@media screen and (max-width: 767px) {
  .sponsors_img {
    flex-basis: calc(50% - 50px);
    max-width: 250px;
  }
}

/* Deploy section */
.deploy_section {
  padding: 40px 0;
}

.deploy_box--flex {
  flex-direction: row;
  padding: 60px 110px 0 ;
}

.features_buttons {
  flex-basis: 30%;
  text-align: left;
}

.features_container {
  flex-basis: 70%;
  flex-wrap: wrap;
}

.features_box {
  flex-basis: 50%;
}

.deploy_section ul {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0;
}

.deploy_section ul button {
  color: #6E7993;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  border-left: 1px solid lightgrey;
  font-size: 18px;
}

.deploy_section ul button:hover {
  color: black;
  border-left: 1px solid black;
}

.deploy_section ul button:focus {
  color: black;
  border-left: 1px solid black;
}
